body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #4983ff;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #4983ff;
}

span.mobile-profile {
  max-width: 9rem;
  max-height: 9rem;
  margin-right: auto !important;
  margin-bottom: 20px !important;
}

span.mobile-profile img {
  border: 0.3rem solid #007bff;
}

div.skill-box h3 {
  text-align: center;
}

div.skill-box li.skills-item {
  position: relative;
  height: 35px;
  margin: 0 0 8px 0;
  border-radius: 15px;
}

div.skill-box li.skills-item i {
  position: absolute;
  font-size: 35px;
  color: #fff;
  height: 100%;
  background: #4983ff;
  border-radius: 10px;
}

div.skill-box li.skills-item span {
  position: absolute;
  height: 70%;
  background: #4983ff;
  border-radius: 15px;
  top: 15%;
}

div.skill-box li.skills-item span.fixed {
  background: #ced4da;
  width: 100%;
}

section#about {
  padding-top: 3rem !important;
}

div.icon-wrapper {
  background: #007bff;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 0px;
}

div.icon-wrapper i {
  font-size: 2em;
  color: #fff;
}

div.project-details {
  margin-bottom: 20px;
}

div.project-details i {
  font-size: 2em;
  margin-left: 20px;
}

[data-aos*="expand"] {
  width: 0px;
  transition-property: width;
}

[data-aos*="translate"] {
  left: 0px;
}

[data-aos="expand40"].aos-animate {
  width: 40%;
}

[data-aos="expand50"].aos-animate {
  width: 50%;
}

[data-aos="expand60"].aos-animate {
  width: 60%;
}

[data-aos="expand70"].aos-animate {
  width: 70%;
}

[data-aos="expand80"].aos-animate {
  width: 80%;
}

[data-aos="expand90"].aos-animate {
  width: 90%;
}

[data-aos="translate40"].aos-animate {
  left: calc(40% - 17px);
}

[data-aos="translate50"].aos-animate {
  left: calc(50% - 17px);
}

[data-aos="translate60"].aos-animate {
  left: calc(60% - 17px);
}

[data-aos="translate70"].aos-animate {
  left: calc(70% - 17px);
}

[data-aos="translate80"].aos-animate {
  left: calc(80% - 17px);
}

[data-aos="translate90"].aos-animate {
  left: calc(90% - 17px);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #4983ff !important;
}

.text-primary {
  color: #4983ff !important;
}

a {
  color: #4983ff;
}

a:hover, a:focus, a:active {
  color: #0050fc;
}
