// Global styling for this template
body {
    @include body-font;
    padding-top: 54px;
    color: $gray-600;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-800;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    @include heading-font;
    font-size: 1.35rem;
}

.list-social-icons {
    a {
        color: $gray-700;
        &:hover {
            color: $primary;
        }
        .fa-lg {
            font-size: 1.75rem;
        }
    }
}

.list-icons {
    font-size: 3rem;
    .list-inline-item i {
        &:hover {
            color: $primary;
        }
    }
}

span.mobile-profile {
    max-width: 9rem;
    max-height: 9rem; // margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    img {
        border: .3rem solid $blue;
    }
}

div.skill-box {
    h3 {
        text-align: center;
    }
    li.skills-item {
        position: relative;
        height: 35px;
        margin: 0 0 8px 0;
        border-radius: 15px;
        i {
            position: absolute;
            font-size: 35px;
            color: $white;
            height: 100%;
            background: $primary;
            border-radius: 10px; // left: calc(30% - 17px);
        }
        span {
            position: absolute; // width: 30%;
            height: 70%;
            background: $primary;
            border-radius: 15px;
            top: 15%;
        }
        span.fixed {
            background: $gray-400;
            width: 100%;
        }
    }
}

section#about {
    padding-top: 3rem !important;
}

div.icon-wrapper {
    background: $blue;
    border-radius: 3em;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
    i {
        font-size: 2em;
        color: $white;
    }
}

div.project-details {
    i {
        font-size: 2em;
        margin-left: 20px;
    }
    margin-bottom: 20px;
}

div.technologies {
    margin-bottom: 40px;
}

[data-aos*="expand"] {
    width: 0px;
    transition-property: width;
}

[data-aos*="translate"] {
    left: 0px;
}

[data-aos="expand40"].aos-animate {
    width: 40%;
}

[data-aos="expand50"].aos-animate {
    width: 50%;
}

[data-aos="expand60"].aos-animate {
    width: 60%;
}

[data-aos="expand70"].aos-animate {
    width: 70%;
}

[data-aos="expand80"].aos-animate {
    width: 80%;
}

[data-aos="expand90"].aos-animate {
    width: 90%;
}

[data-aos="translate40"].aos-animate {
    left: calc(40% - 17px)
}

[data-aos="translate50"].aos-animate {
    left: calc(50% - 17px)
}

[data-aos="translate60"].aos-animate {
    left: calc(60% - 17px)
}

[data-aos="translate70"].aos-animate {
    left: calc(70% - 17px)
}

[data-aos="translate80"].aos-animate {
    left: calc(80% - 17px)
}

[data-aos="translate90"].aos-animate {
    left: calc(90% - 17px)
}